{
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "import/no-extraneous-dependencies": [2, {"devDependencies": true}],
    "comma-dangle": [2, "never"],
    "arrow-body-style": [0]
  }
}
